
<div class="ui container">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui left fixed vertical menu">
        <a routerLink="home" routerLinkActive="active" class="item">Home</a>
        <a routerLink="catalogues" routerLinkActive="active" class="item">Meine Listen</a>
        <a routerLink="notes" routerLinkActive="active" class="item">Meine Notizen</a>
        <a routerLink="todo" routerLinkActive="active" class="item">Meine Todo's</a>
        <a routerLink="tag" routerLinkActive="active" class="item">Meine Tags</a>
        <a routerLink="login" routerLinkActive="active" class="item">{{ getLoginLabel() }}</a>
      </div>
    </div>
      <div class="twelve wide column fixed" style="margin-left: 5%">
        <h1>KWM Evernote Projekt</h1>
        <router-outlet></router-outlet>
      </div>

  </div>



</div>




